body {
  background-color: black;
}

.landing-page,
.globe {
  background: url(../img/BG.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-page {
  margin: 0 auto;
  padding: 25vh 0 6em;
  color: white;
  line-height: 1.5em;
}

.landing-page h1 {
  font-size: 4.5em !important;
  text-align: center;
}

.landing-page p {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

#legal-footer-wrap {
  position: fixed ;
  bottom: 0;
  right: 0;
  width: 100%;
}

#legal-footer a:hover {
  color: gold;
}
