body {
  background-color: black;
}

.landing-page,
.globe {
  background: url(../img/BG.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-page {
  margin: 0 auto;
  padding: 25vh 0 4em;
  color: white;
  line-height: 1.5em;
}

.landing-page h1 {
  font-size: 4.5em !important;
  text-align: center;
}

.landing-page p {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

.landing-page a {
  color: orange;
  text-decoration: none;
}

#legal-footer-wrap {
  position: fixed ;
  right: 0;
  bottom: 0;
  width: 100%;
}

#legal-footer a:hover {
  color: orange;
}

#legal-footer-wrap #filter {
  position: absolute;
  bottom: .5em;
  left: .5em;
  font-size: 12px;
  color: #FFF;
}

.tooltip {
  padding: 0;
  border: none;
}

.tooltip-card {
  border: 2px solid white;
  padding: .5em;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tooltip-logo {
  width: 77px;
  height: auto;
  float: left;
  margin-right: .7em;
  border-radius: 4px;
}

.tooltip header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 1.5em;
  line-height: 1em;
}

.tooltip-line {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.tooltip-community-type {
  margin-left: 1em;
  border-radius: 4px;
  padding: 0 5px;
  font-size: 10px;
  color: black;
  background-color: #FFCC00;
}

.tooltip .label {
  color: #777;
  width: 66px;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

/* Style the custom checkbox */
.custom-checkbox label {
  display: inline-block;
  margin: 4px 8px;
  border: 1px solid #DDD;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #333; /* Set the background color for the checked state */
  cursor: pointer;
}

/* Style the custom checkbox when checked */
.custom-checkbox input[type="checkbox"]#localCommunities:checked + label {
  background-color: #FFCC00; /* Change the background color when checked */
}

.custom-checkbox input[type="checkbox" ]#diveCenters:checked + label {
  background-color: #babe82; /* Change the background color when checked */
}

.custom-checkbox input[type="checkbox" ]#premiumDiveCenters:checked + label {
  background-color: #64947b; /* Change the background color when checked */
}

.custom-checkbox input[type="checkbox" ]#centerOfExcellence:checked + label {
  background-color: orange; /* Change the background color when checked */
}
